
<!doctype html>
<html lang="en">
  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
          <p><%= button_to "Home", root_path, :id => "open-contacts-dialog-btn", :class => "inbox-sf-add-btn tip", :method => :get %></p>
          </li>
          <li class="nav-item">
          <p><%= button_to "Sign Out", destroy_user_session_path, method: :delete %></p>
          </li>
          <li class="nav-item">
          <p><%= button_to "Index", root_path, :id => "open-contacts-dialog-btn", :class => "inbox-sf-add-btn tip", :method => :get %></p>
          </li>
        </ul>
      </div>
    </nav>
    <h0>Show Project</h0>
    <h1>Show Project</h1>
    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3"></h1>
          <p>Edit your project by filling out the following.</p>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Project Details</h2>
              <% provide(:page_title, @post.title) %>

              <p id="notice"><%= notice %></p>

              <p>
                <strong>Title:</strong>
                <%= @post.title %>
              </p>

              <p>
                <strong>Body:</strong>
                <%= @post.body %>
              </p>

              <p>
                <strong>Description:</strong>
                <%= @post.description %>
              </p>


              <%= link_to 'Edit', edit_post_path(@post) %> |
              <%= link_to 'Back', posts_path %>
          </div>
          <div class="col-md-4">
            <h2><strong><%= current_user.email %></strong></h2>
            <img class="rounded-circle float-right img-thumbnail" style="width:25%" src="https://pathfindercareers.com/wp-content/uploads/2019/06/poop.jpeg" data-holder-rendered="true"
          </div>

        </div>

        <hr>

      </div> <!-- /container -->

    </main>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    
  </body>
  
  </head>

    
</html>